<% if !logged_in?%>
  <a href="/users/new">new user</a>

  <%= form_tag '/session', method: 'post' do %>
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>login</button>
  <% end %>
<% end %>

<% @users.each do |user| %>
<div class="user" data-id="<%= user.id %>">
    <p><%= user.name %></p>
    <p><%= user.gender %></p>
</div>
<% end %>