<div id="layoutHeader">

    <img id="australiaMap" src="http://www.clker.com/cliparts/a/2/a/b/11949841821800115186australia-black.svg.hi.png" alt="">

      <h1 id="websiteTitle"><a id="websiteTitle" href="/events">GetLost</a></h1>
        <p id="slogan">Do something. Somewhere. With people.</p>

        <div class="slideshow">

            <div><img class="hobbyImg" src="<%= Hobby.first.image_photo%>" alt=""></div>

        </div>


</div>

<div class="signUpPageBody">

  <div class="signUpPageForm">

    <%= form_tag '/users', class: 'newForm',method: 'post' do %>

      <!-- <label for="">name</label> -->
      <input type="text" name="name" placeholder="name">
      <select name="gender" id="">
        <option value="">Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <input type="text" name="email" placeholder="email">

      <input type="password" name="password" placeholder="password">

      <input type="password" name="password_confirmation" placeholder="confirm password">

      <button class="btn">sign up</button>
    <% end %>

  </div>

  <p class="formPageSentence">or, if you already have an account, please login</p>

  <div class="formPageLogin">

         <%= form_tag '/session', class: 'newForm', method: 'post' do %>

          <input type="text" name="email" placeholder="email">

          <input type="password" name="password" placeholder="email">

        <button class="btn">login</button>

      <% end %>
  </div>


</div>
