<div id="layoutHeader">

    <img id="australiaMap" src="http://www.clker.com/cliparts/a/2/a/b/11949841821800115186australia-black.svg.hi.png" alt="">

      <h1 id="websiteTitle"><a id="websiteTitle" href="/events">GetLost</a></h1>
        <p id="slogan">Do something. Somewhere. With people.</p>

        <div class="slideshow">

            <div><img class="hobbyImg" src="<%= Hobby.first.image_photo%>" alt=""></div>

        </div>


</div>

<div class="signUpPageBody">

  <div class="signUpPageForm">
    
    <%= form_tag '/users', method: 'post' do %>

      <label for="">name</label>
      <input type="text" name="name">
      <select name="gender" id="">
        <option value="">gender</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>

      <label for="">email</label>
      <input type="text" name="email">

      <label for="">password</label>
      <input type="password" name="password">

      <label for="">confirm password</label>
      <input type="password" name="password_confirmation">

      <button>sign up</button>
    <% end %>
    
  </div>

  <p class="formPageSentence">or, if you already have an account, please login</p>

  <div class="formPageLogin">
    
         <%= form_tag '/session', method: 'post' do %>
          <label for="">email</label>
          <input type="text" name="email">

          <label for="">password</label>
          <input type="password" name="password">

        <button>login</button>

      <% end %>
  </div>

  
</div>