/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#websiteTitle {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
  display: inline-block;
  text-shadow: 1px 1px black;
  vertical-align: top;
  font-family: 'Lalezar', cursive;
  font-size: 2.2em;
  transform: rotate(-3deg);
  position: absolute;
  left: 1em;
  top: 0em;
}

#slogan {
  display: inline;
  margin: 0;
  font-size: 1.3em;
}

.subBarForm {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}

.userDiv {
  text-align: right;
  padding-right: 0.5em;
  display: flex;
  flex: 1;
  vertical-align: middle;
}

#eventSearch {
  display: flex;
  flex: 1;
  text-align: center;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border-right: 2px solid black;
}

#layoutHeader {
  border: 2px solid black;
  padding: 0;
  height: 114px;
  background-color: #D17A22;
  text-align: center;
  position: relative;
}

#subHeader {
  height: 29px;
  border: 1px solid black;
  display: flex;
  background-color: #3B3923;
}

#userName {
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#websiteTitleH1 {
  display: inline-block;
  vertical-align: middle;
}

.slideshow.slick-initialized.slick-slider {
  display: inline-block;
  background-color: #D17A22;
  vertical-align: top;
}


.searchDrop {
  margin: 0.3em;
}

.logBtn {
  margin: 1em;
}

.slideshow {
    display: inline-block;
    text-align: right;
    margin: 1px;
    width: 220px;
    padding: 0px;
    border: 1px solid black;
    margin-left: 12em;
}

.hobbyImg {
  display: inline-block;
}

#australiaMap {
  height: 110px;
  display: inline-block;
}

.slideshow img {
  width: 220px;
  height: 110px;
  display: inline-block;
  text-align: center;
}

#nameRef {
  display: inline-block;
}

.logBtn {
  margin: 0;
  vertical-align: middle;
}

#logoutBtn {
  display: inline-block;
  margin: auto 0;
}

#signUpTag {
  text-decoration: none;
  color: #D17A22;
  font-weight: bolder;
}

select {
margin: 0 auto;
border: 1px solid #111;
background: white;
width: 150px;
height: 20px;
font-size: 16px;
border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
