// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .newForm  {
    width: 50%;
    margin: 0 auto;

    input {
      display: block;
      margin: 1% auto;
      padding: 2%;
    }

    .smallInp {
      display: inline-block;
      margin-right: 4%;
      width: 12%;
    }

    .description {
      // margin: 3%;
      padding: 2%;
    }

    select {
      margin: 2%;
      height: 1%;
    }

    button {
      display: block;
      margin: 0 auto;
    }

  }
}

.eventImg {
  width: 20%;
}

.show {
  width: 50%;
  margin: 0 auto;
  display:flex;
  flex-direction: rows;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  align-content: center;

  .eventDetails {
    vertical-align: top;
    display: inline-block;
    width: 50%;
  }
  .btnPanel {
    vertical-align: top;
    display: inline-block;
    width: 50%;
  }

  form {
    width: 60px;
    margin: 0 auto;
  }

  button {
    // display: inline-block;
    margin: 5px auto;
    background-color: #736F4E;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1px solid #000;
  }
}

h1, .show > * {
  margin: 10px auto;
  text-align: center;
}
