// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #98A886;

}
.view {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .newForm  {
    width: 50%;
    margin: 0 auto;

    input {
      display: block;
      margin: 1% auto;
      padding: 2%;
    }

    .smallInp {
      display: inline-block;
      margin-right: 4%;
      width: 15%;
      height: 20px;
    }

    .description {
      // margin: 3%;
      padding: 2%;
    }

    select {
    margin: 10px auto;
    border: 1px solid #111;
    background: white;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    button {
      display: block;
      margin: 0 auto;
    }

  }
}

.eventImg {
  width: 20%;
}

.show {
  width: 50%;
  margin: 0 auto;
  display:flex;
  flex-direction: rows;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  align-content: center;

    .eventDetails {
      vertical-align: top;
      display: inline-block;
      width: 50%;
    }
    .btnPanel {
      vertical-align: top;
      display: inline-block;
      width: 50%;
    }

    form {
      width: 60px;
      margin: 0 auto;
    }

    .btns > * {
      display: inline-block;
      margin-right: 15%;
    }
}

.show > * {
  margin: 10px auto;
  text-align: center;
}

h1 {
  margin-top: 3%;
  text-align: center;
}

.btn {
  background-color: #3B3923;
  // background-color: rgb(152, 168, 134);
  font-size: 1em;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 5px solid rgba(152, 168, 134, 0.1);
}

@-webkit-keyframes swing {

  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
     transform: translateX(-5px);
  }
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}
@keyframes swing {

  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
  }
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

.btn:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn:focus {
  outline: none;
}
