<!DOCTYPE html>
<html>
  <head>
    <title>Get Lost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
  </head>

  <body>


<!--   <script>
    
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
        .fadeOut(500)
        .next()
        .fadeIn(500)
        .end()
        .appendTo('#slideshow');
    },  3000);
    
  </script> -->


    <%= yield %>





  </body>
</html>
